#music_cont{
    text-align: left;
}

.custom_bg{
    background-color: rgba(51, 46, 46, 0.5); 
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*background-color: rgba(0, 0, 0, 0.5); */
}

.songList{
    aspect-ratio: 16/9;
    outline: black;
}

.topTenList::-webkit-scrollbar{
    display: none;
}

.small_text{
    text-align: center;
}

.songList::-webkit-scrollbar {
    display: none;
}

.modal_songList::-webkit-scrollbar {
    display: none;
}




