#music_cont{
    text-align: left;
}

.custom_bg{
      background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
}

.songList{
    aspect-ratio: 16/9;
    outline: black;
}

.small_text{
    text-align: center;
}

.songList::-webkit-scrollbar {
    display: none;
}



