.Home {
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

/* Background image layer */
.bg-image {
  pointer-events: none;
  z-index: -10;
  object-fit: cover;
  object-position: 50% -150px;
}

/* Desktop override */
@media (min-width: 768px) {
  .bg-image {
    object-position: 50% -500px;
  }
}

