#first_cont{
    text-align: left;
    margin-top: 50px; 
}
#work_showcase{
    aspect-ratio: 16/9;
    background-color: black;
}

.gh_repos{
    aspect-ratio: 16/9;
    background-color: #332E2E;
    min-height: 40vh;
}

.small_text{
    text-align: center;
}

.repo_buttons{
    border-color: transparent !important;
    border-bottom-width: 1px !important;
    border-bottom-color: black !important;
    display: block; /* Ensures the element spans the full width */
}

.repo_buttons:hover {
    background-color: #5C5656;
}

.gh_repos::-webkit-scrollbar {
    display: none;
}



